
.homepage-hero {
	position: relative;

	&__video {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		@include transform( translate(-50%, -50%) );
	}

	&__popout-video {
		width: 90%;
		max-height: 90%;
		background: rgba(0,0,0,0.2);
		@include aspect-ratio( 16/9 );

		iframe {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	.homepage-hero__popout-video {
		display: none;
	}
}

.building-links {
	border-top: rv( l, 2px ) solid $coral;
	margin: rv( l, 84px ) (- rv( l, 80px )) 0;

	@at-root .building-link {
		display: block;
		border-bottom: rv( l, 2px ) solid $coral;
		position: relative;
		overflow: hidden;

		&__title {
			color: $navy;
			margin: 0;
			padding: rv( l, 24px ) 0;
			@include transition( 0.2s padding-left ease-in-out );
		}

		&__description {
			background: $coral;
			color: white;
			margin: 0;
			text-align: left;
			width: 100%;
			height: 100%;
			padding: rv( l, 21px ) rv( l, 144px ) rv( l, 21px ) rv( l, 0px );
			position: absolute;
			left: -100%;
			top: 0;
			@include transition( 0.2s all ease-in-out );
		}

		&:after {
			background: transparent url('../images/home-arrow.svg') center no-repeat;
			background-size: contain;
			content: '';
			display: block;
			width: rv( l, 18px );
			height: rv( l, 36px );
			position: absolute;
			right: rv( l, 32px );
			top: rv( l, 25px );
		}

		&:hover {

			.building-link__title {
				padding-left: rv( l, 48px );
			}
			
			.building-link__description {
				left: 0;
				padding-left: rv( l, 24px );
				padding-right: rv( l, 120px );
				@include transition( 0.2s left ease-out, 0.35s padding ease-out );
			}
		}
	}
}

.homepage-retail {
	background-size: auto 88%;
	background-position: 86% center;
	background-repeat: no-repeat;

	&.block.full-width-fluid {
		padding: 0;
	}

	&__text-block {
		width: 40%;
		margin: 0;
		padding: rv( l, 100px ) rv( l, 80px );
	}

}

@media ( max-width: $tablet-breakpoint ) {

	.homepage-hero {

		&__video {
			display: none;
		}
	}

}

@media ( max-width: $smdesktop-breakpoint ) {


	.building-links {
		border-top: rv( t, 2px ) solid $coral;
		margin: rv( t, 36px ) 0 0;

		@at-root .building-link {
			border-bottom: rv( t, 2px ) solid $coral;

			&__description {
				display: none;
			}

			&:after {
				width: rv( t, 13px );
				height: rv( t, 22px );
				right: rv( t, 18px );
				top: rv( t, 15px );
			}

			&:hover {

				.building-link__title {
					padding-left: inherit;
				}
				
				.building-link__description {
					left: inherit inherit;
					padding-left: inherit;
					padding-right: inherit;
				}
			}
		}
	}

	.homepage-retail {
		background-size: auto 85%;
		background-position: 90% center;

		&__text-block {
			width: 45%;
			padding: rv( t, 33px ) rv( t, 50px );
		}
	}

}

@media ( max-width: $mobile-breakpoint ) {

	.homepage-hero {

		&__popout-video {
			width: 95%;
			position: aboslute;
			top: 50%;
			left: 50%;
			@include transform( translate(-50%, -50%) );
		}
	}


	.building-links {
		border-top: rv( m, 2px ) solid $coral;
		margin: rv( m, 36px ) 0 0;

		@at-root .building-link {
			border-bottom: rv( m, 2px ) solid $coral;

			&__title {
				padding: rv( m, 14px ) 0;
			}

			&:after {
				width: rv( m, 14px );
				height: rv( m, 22px );
				right: rv( m, 18px );
				top: rv( m, 15px );
			}
		}
	}


	.homepage-neighborhood {
		text-align: center;
	}

	.homepage-retail {
		background-size: 90% auto;
		background-position: center 95%;

		&__text-block {
			text-align: center;
			width: 100%;
			padding: rv( m, 32px )  rv( m, 32px ) rv( m, 264px );
		}
	}
}