
.nav {
	width: 100%;
	height: rv( l, 140px );
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-index-top;
	background: rgba(255,255,255,1);
	@include transition( .15s all );

	&-placeholder {
		height: rv( l, 112px );
		width: 100%;
	}

	&__hamburger {
		display: none;
	}

	&__logo-link {
		@include middle;
		@include transition( .15s opacity );
		height: rv( l, 88px );
		width: rv( l, 174px );
		overflow: hidden;

		&:hover {
			opacity: 0.8;
		}
	}

	&__logo {
		@include transition( .2s all );
		display: block;
		margin: 0 auto;

		&.horizontal {
			height: 100%;
			margin-bottom: 24px;
			opacity: 1;
		}

		&.circle {
			height: 0;
			opacity: 0;
		}
	}

	&__menu {
		text-align: left;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;

		&.right {
			text-align: right;
			left: auto;
			right: 0;
		}

		.menu-item {
			display: block;
			height: 100%;
			float: left;
			font-size: rv( l, 18px );
			font-family: $sans;
			line-height: 2.27;
			font-weight: 500;
			padding: 0 rv( l, 28px );
			text-transform: uppercase;
			letter-spacing: 1.25px;

			a {
				color: $navy;
				display: inline-block;
				margin: rv( l, 50px ) 0;
				position: relative;
				overflow: hidden;
				@include transition( .15s all );

				&:before {
					content: '';
					background: $navy;
					height: rv( l, 2px );
					width: 0;
					@include transition( 0.15s left ease-in-out, 0s width 0.15s );
					position: absolute;
					bottom: rv(l , 6px );
					left: 100%;
				}

				&:hover,
				&.active {

					&:before {
						left: 0;
						width: 100%;
						@include transition( 0.15s width ease-in-out, 0s left );
					}
				}
			}

			&.dropdown {

				a {
					cursor: default;
					padding-right: rv(l, 24px);

					&:after {
						content: '';
						background: transparent url('../images/arrow.png') center no-repeat;
						background-size: contain;
						display: block;
						height: rv( l, 40px );
						width: rv( l, 14px );
						position: absolute;
						right: 0;
						top: 0;
					}
				}
			}
		}
	}


	// Dropdown

	.sub-menu {
		display: none;
	}

	&-overlay {
		background: rgba( 19, 10, 70, 0.9 );
		padding: rv( l, 140px ) 0 0;
		position: fixed;
		z-index: $z-index-mid;
		top: 0;
		left: -200%;
		height: 100%;
		width: 100%;
		opacity: 0;
		@include transition( 0.3s opacity, 0s left 0.3s );

		&.toggled {
			left: 0;
			opacity: 1;
			@include transition( 0.3s opacity, 0.15s padding-top );
		}

		&.mini {
			padding-top: rv( l, 80px );
		}

		.sub-menu {
			width: 25%;
			padding: rv( l, 28px );

			.menu-item {
				font-size: rv( l, 16px);
				line-height: 1.25;
				margin-bottom: rv( l, 20px );

				a {
					color: white;
					font-family: $serif;

					&:hover {
						color: $coral;
					}
				}
			}
		}
	}

	// Mini nav

	&.mini {
		height: rv( l, 80px );
		box-shadow: rgba(0,0,0,0.2) 0 3px 3px;

		.nav__logo-link {
			height: rv( l, 64px );
		}

		.nav__logo {

			&.horizontal {
				@include transition( .25s all );
				height: 0;
				margin-bottom: 0;
				opacity: 0;
			}

			&.circle {
				@include transition( .2s all );
				height: 100%;
				opacity: 1;
			}
		}

		.nav__menu .menu-item a {
			margin: rv( l, 20px ) 0;
		}
	}
}


// Transparent nav

.home .nav,
.page-template-page-neighborhood .nav {

	&:not(.mini):not(.mobile-toggled) {
		background: rgba(255,255,255,0);

		.menu-item a {
			color: white;

			&:before {
				background: white;
			}
		}

		.nav__logo,
		.nav__menu .menu-item.dropdown a:after {
			filter: invert(100%) brightness(135%);
			-webkit-filter: invert(100%) brightness(135%);
			-moz-filter: invert(100%) brightness(135%);
			@include transform( translate3d(0,0,0) );
		}

		.nav__hamburger {

			&:before,
			&:after {
				background: white;
				box-shadow: 0 rv( t, -8px ) white;
				-webkit-box-shadow: 0 rv( t, -8px ) white;
				-moz-box-shadow: 0 rv( t, -8px ) white;
			}

			&:after {
				box-shadow: 0 rv( t, 8px ) white;
				-webkit-box-shadow: 0 rv( t, 8px ) white;
				-moz-box-shadow: 0 rv( t, 8px ) white;
			}

			&.toggled {

				&:before,
				&:after {
					box-shadow: 0 0 white;
					-webkit-box-shadow: 0 0 white;
					-moz-box-shadow: 0 0 white;
				}
			}
		}
	}

	&-placeholder {
		height: 0;
	}
}

@media ( max-width: $tablet-breakpoint ) {

	.nav,
	.nav.mini {
		height: rv( t, 84px );

		&-placeholder {
			height: rv( t, 64px );
		}

		.nav__logo-link {
			height: rv( t, 54px );
			width: auto;
		}

		.nav__logo {

			&.horizontal {
				height: 100%;
				opacity: 1;
			}

			&.circle {
				height: 0;
				opacity: 0;
			}
		}

		&__hamburger {
			cursor: pointer;
			display: block;
			position: absolute;
			top: rv( t, 21px );
			right: rv( t, 28px );
			width: rv( t, 40px);
			height: rv( t, 40px);

			&:before,
			&:after {
				content: '';
				background: $navy;
				display: block;
				width: rv( t, 20px );
				height: rv( t, 2px );
				position: absolute;
				top: 50%;
				left: rv( t, 10px );
				margin-top: rv( t, -1px );
				box-shadow: 0 rv( t, -8px ) $navy;
				-webkit-box-shadow: 0 rv( t, -8px ) $navy;
				-moz-box-shadow: 0 rv( t, -8px ) $navy;
				@include transition( 0.15s all 0s ease-in, 0.15s box-shadow 0.15s ease-out, 0.15s -webkit-box-shadow 0.15s ease-out );
			}

			&:after {
				box-shadow: 0 rv( t, 8px ) $navy;
				-webkit-box-shadow: 0 rv( t, 8px ) $navy;
				-moz-box-shadow: 0 rv( t, 8px ) $navy;
			}

			&.toggled {

				&:before,
				&:after {
					box-shadow: 0 0 $navy;
					-webkit-box-shadow: 0 0 $navy;
					-moz-box-shadow: 0 0 $navy;
					@include transition( 0.15s all 0.15s ease-out, 0.15s box-shadow 0s ease-in, 0.15s -webkit-box-shadow 0s ease-in );
					@include transform( rotate(-45deg) );
				}

				&:after {
					@include transform( rotate(45deg) );
				}
			}
		}

		.nav__menu {
			display: none;
		}

		&-overlay {
			background: $navy;

			&__container {
				@include middle;
				padding-top: rv( t, 84px );
			}

			.nav__menu {
				display: block;
				text-align: center;
				position: relative;
				height: auto;
				padding: 0 rv( t, 48px );

				.menu-item {
					height: auto;
					float: none;

					a {
						color: white;
						display: block;
						margin: 0;
						font-size: rv( t, 28px );
						line-height: 1;
						padding: rv( t, 24px ) 0;
						border-top: rv( t, 2px ) solid white;

						&:hover {
							color: white;
						}
					}

					&.dropdown > a {
						display: none;
					}
				}

				&:last-of-type .menu-item:last-of-type a {
					border-bottom: rv( t, 2px ) solid white;
				}
			}

			.sub-menu {
				width: 100%;
				padding: 0;

				.menu-item {
					margin: 0;
					padding: 0;

					a {
						font-family: $sans;
						cursor: pointer;
					}
				}
			}
		}
	}
}

// Landscape tablet

@media ( min-width: $mobile-breakpoint ) 
	and ( max-width: $tablet-breakpoint ) 
	and ( max-height: 768px ) {

	.nav-overlay,
	.nav.mini-overlay {

		.nav__menu .menu-item a,
		.sub-menu .menu-item a {
			padding: rv( s, 18px ) 0;
			font-size: rv( s, 21px );
		}
	}

}

@media ( max-width: $mobile-breakpoint ) {

	.nav,
	.nav.mini {
		height: rv( m, 66px );

		&-placeholder {
			height: rv( m, 46px );
		}

		.nav__logo-link {
			height: rv( m, 48px );
		}

		&__hamburger {
			top: rv( m, 13px );
			right: rv( m, 10px );
			width: rv( m, 40px);
			height: rv( m, 40px);

			&:before,
			&:after {
				width: rv( m, 20px );
				height: rv( m, 2px );
				left: rv( m, 10px );
				margin-top: rv( m, -1px );
				box-shadow: 0 rv( m, -8px ) $navy;
			}

			&:after {
				box-shadow: 0 rv( m, 8px ) $navy
			}
		}

		&-overlay {
			min-height: rv( m, 422px );
			overflow: auto;

			&__container {
				padding-top: rv( m, 64px );
				overflow: auto;
			}

			.nav__menu {
				padding: 0 rv( m, 20px );

				.menu-item {

					a {
						font-size: rv( m, 16px );
						padding: rv( m, 14px ) 0;
						border-top: rv( m, 2px ) solid white;
					}
				}

				&:last-of-type .menu-item:last-of-type a {
					border-bottom: rv( m, 2px ) solid white;
				}
			}
		}
	}


	// Transparent nav

	.home .nav,
	.page-template-page-neighborhood .nav {

		&:not(.mini):not(.mobile-toggled) {

			.nav__hamburger {

				&:before,
				&:after {
					box-shadow: 0 rv( m, -8px ) white;
					-webkit-box-shadow: 0 rv( m, -8px ) white;
					-moz-box-shadow: 0 rv( m, -8px ) white;
				}

				&:after {
					box-shadow: 0 rv( m, 8px ) white;
					-webkit-box-shadow: 0 rv( m, 8px ) white;
					-moz-box-shadow: 0 rv( m, 8px ) white;
				}
			}
		}
	}

}