// Gallery page specific styles

.gallery-hero {

	&__header {
		padding-top: rv( l, 24px );
	}

	&__indicator {
		width: 100%;
		max-width: rv( l, 18px );
		margin-bottom: rv( l, 18px );
		@include transform( rotate(-90deg) );
	}
}

// carousel + pano styles for all blocks

.gallery-interiors,
.gallery-exteriors,
.gallery-outdoors {

	&__copy {
		float: right;

		.block__text {
			width: 100%;

			p {
				padding: 0 rv( l, 48px );
			}
		}
	}

	&__container {
		position: relative;
		overflow: hidden;
	}

	&.carousel {

		.slick-slide {
			display: block;
			float: left;
			max-width: 100%;

			img {
				width: 100%;
			}
		}

		.slick-dots {
			display: block;
			position: absolute;
   bottom: rv( l, 8px );
   width: 100%;
   text-align: center;

   li {
   	position: relative;
   	display: inline-block;
    font-size: 0px;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    @include transform( scale(0.75) );
    @include transition( transform 0.15s );

    button {
    	position: absolute;
    	top: 50%;
    	left: 0;
    	right: 0;
    	margin: 0 auto;
    	font-size: 0px;
	    background: white;
	    border: none;
	    border-radius: 100%;
	    width: rv( l, 10px );
	    height: rv( l, 10px );
	    cursor: pointer;
	    @include transform( translateY(-50%) )
    }

    &.slick-active {
    	@include transform( scale(1) );
    	
    	button {
    		background: $coral;
    	}
    }
   }
		}
	}

	&__controls { // slick controls
		position: absolute;
		bottom: rv( l, 20px );
		right: rv( l, 20px );

		a {
			background: $coral;
			width: rv( l, 40px );
			height: rv( l, 40px );
			position: relative;
			display: block;
			z-index: $z-index-mid;
			text-align: center;
			@include transition( 0.15s transform, 0.15s -webkit-transform );

			img {
				width: rv( l, 12px );
				position: absolute;
				top: 50%;
				left: -1px;
				right: 0;
				margin: 0 auto;
				@include transition( 0.05s width );
				@include transform( translateY(-50%) );
			}

			&.next {
				margin-bottom: rv( l, 10px );

				img {
					@include transform( translateY(-50%) rotate(180deg) );
					left: 1px;
				}
			}

			&:hover {

				img {
					width: rv( l, 14px );
				}
			}

			&:active {
				@include transform( scale(0.9) );
			}
		}
	}

	@at-root .pano-container {
		&__interior, &__exterior, &__outdoor {
			position: relative;
			float: left;
			width: 100%;
			margin-top: rv( l, 28px );

			&.active div {
				cursor: move;
			}
		}
	}

	

	&__pano { // pano styles
		position: relative;
		width: 100%;
		height: rv( l, 500px );
		float: left;
		cursor: move;
	}

	&__wall {
		position: absolute;
		background: rgba(0,0,0,0.4);
		height: 100%;
		width: 100%;
		z-index: $z-index-mid;
		cursor: pointer;
		@include transform( translateZ(0) );
	}

	&__views {
		background: white;
		width: 100%;
		max-width: rv( l, 400px );
		float: left;
		padding: rv( l, 22px ) rv( l, 40px );
		left: rv( l, 308px );
		cursor: pointer;

		img {
			display: inline-block;
			float: left;
			margin-left: rv( l, 12px );
			width: rv( l, 21px );
		}

		p {
			margin-bottom: rv( l, 7px );
			display: inline-block;
			float: left;
		}

		h2 {
			margin-bottom: rv( l, 14px );
			clear: left;
		}

		h4 {
			margin-bottom: rv( l, 14px );

			&.inline {
				display: inline-block;
				float: left;
			}
		}
	}
}

@media ( max-width: $smdesktop-breakpoint ) {

	// carousel + pano styles for all blocks

	.gallery-interiors,
	.gallery-exteriors,
	.gallery-outdoors {

		&__copy {

			.block__text {

				p {
					padding: 0 rv( s, 48px );
				}
			}
		}

		&__controls { // slick controls
			position: absolute;
			bottom: rv( s, 20px );
			right: rv( s, 20px );

			a {
				width: rv( s, 40px );
				height: rv( s, 40px );

				img {
					width: rv( s, 12px );
				}

				&.next {
					margin-bottom: rv( s, 10px );
				}

				&:hover {

					img {
						width: rv( s, 14px );
					}
				}
			}
		}
	}
}

@media ( max-width: $tablet-breakpoint ) {

	// carousel + pano styles for all blocks

	.gallery-interiors,
	.gallery-exteriors,
	.gallery-outdoors {

		&__copy {

			.block__text {
				padding-left: 0;
				padding-right: 0;

				p {
					padding: 0 rv( t, 55px );
				}
			}
		}

		&.carousel {
			.slick-dots {
				display: none !important;
			}
		}

		&__controls { // slick controls
			position: absolute;
			bottom: rv( t, 20px );
			right: rv( t, 20px );

			a {
				width: rv( t, 40px );
				height: rv( t, 40px );

				img {
					width: rv( t, 12px );
				}

				&.next {
					margin-bottom: rv( t, 10px );
				}

				&:hover {

					img {
						width: rv( t, 14px );
					}
				}
			}
		}

		@at-root .pano-container {
			&__interior, &__exterior, &__outdoor {
				margin-top: rv( t, 18px );
			}
		}

		&__pano { // pano styles
			height: rv( t, 300px );
		}

		&__views {
			max-width: rv( t, 288px );
			padding: rv( t, 20px ) rv( t, 24px );
			padding-right: 0px;
			left: rv( t, 192px );

			img {
				margin-left: rv( t, 8px );
				margin-top: rv( t, -2px );
				width: rv( t, 21px );
			}

			p {
				margin-bottom: rv( t, 6px );
			}

			h2 {
				margin-bottom: rv( t, 12px );
			}

			h4 {
				margin-bottom: rv( t, 12px );
			}
		}
	}
}

@media ( max-width: $mobile-breakpoint ) {

	.gallery-hero {

		&__header {
			padding-top: rv( m, 62px );
			font-size: rv( m, 26px );
		}

		&__paragraph {
			padding: 0 rv( m, 24px );

			&.big {
				font-size: rv( m, 16px );
			}
		}

		&__indicator {
			width: 100%;
			max-width: rv( m, 14px );
			margin-bottom: rv( m, 48px );
		}
	}

	// carousel + pano styles for all blocks

	.gallery-interiors,
	.gallery-exteriors,
	.gallery-outdoors {

		&__copy {
			float: left;

			.block__text {
				width: 100%;

				p {
					padding: 0 rv( m, 0px );
				}
			}
		}

		&__container {
			position: relative;
			overflow: hidden;
		}

		&__controls { // slick controls
			position: absolute;
			bottom: rv( m, 20px );
			right: rv( m, 20px );

			a {
				width: rv( m, 40px );
				height: rv( m, 40px );

				img {
					width: rv( m, 12px );
				}

				&.next {
					margin-bottom: rv( m, 10px );
				}

				&:hover {

					img {
						width: rv( m, 14px );
					}
				}
			}
		}

		@at-root .pano-container {
			&__interior, &__exterior, &__outdoor {
				margin-top: rv( m, 24px );
				height: rv( m, 300px );
			}

			&__interior {
				background: url('../images/mobile-interiors.jpg') center no-repeat;
				background-size: auto 100%;
			}

			&__exterior {
				background: url('../images/mobile-exteriors.jpg') center no-repeat;
				background-size: auto 100%;
			}

			&__outdoor {
				background: url('../images/mobile-outdoors.jpg') center no-repeat;
				background-size: auto 100%;
			}
		}

		&__close {
			width: rv( m, 40px );
			height: rv( m, 40px );
			background: $coral url('../images/25K_gallery_x.svg') center no-repeat;
			background-size: rv( m, 12px ) auto;
			position: absolute;
			top: rv( m, 20px );
			right: rv( m, 20px );
			z-index: 5;
		}

		&__pano { // pano styles
			opacity: 0;
			position: fixed;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			@include transition( all 0.2s ease-in-out );

			&.open {
				z-index: $z-index-cheating;
				opacity: 1;
				position: fixed;
				top: 0;
			}
		}

		&__wall {
			padding: 0 rv( m, 20px );
			background: transparent;
			z-index: $z-index-base;
			@include transition( z-index 0.1s ease-in-out );

			&.closed {
				z-index: -1;
			}
		}

		&__views {
			max-width: 100%;
			width: 100%;
			padding: rv( m, 24px ) rv( m, 20px );
			left: rv( m, 0px );
			top: 50%;
			@include transform( translateY(-50%) );

			img {
				margin-left: rv( m, 8px );
				margin-top: rv( m, 8px );
				width: rv( m, 22px );
			}

			p {
				margin-bottom: rv( m, 6px );
				width: 60%;
			}

			h2 {
				margin-bottom: rv( m, 12px );
			}

			h4 {
				margin-bottom: rv( m, 12px );

				&.inline {

				}
			}
		}
	}
}