

// Floor Plan page specific styles

#floorplan-intro {
	
	h1 {
		padding: 0 rv( l, 90px );
	}
}

.floorplan-fits {

	&__block {
		text-align: center;
		padding: 0 rv( l, 80px );

		h4 {
			margin-top: rv( l, 32px );
		}
	}
}

.floorplan-interactive {
	// background-image: url('../images/25K_floor-plans_FP-schematic-02.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	padding: rv( l, 36px ) rv( l, 80px );
	@include aspect-ratio( 1280 / 720 );

	&__nav {
		width: 25%;
		height: rv( l, 468px );
		position: absolute;
		top: 50%;
		left: rv( l, 80px );
		text-align: center;
		border-top: rv( l, 2px ) solid $coral;
		@include transform( translate( 0, -50% ) );

		&-item {
			line-height: rv( l, 45px );
			border-bottom: rv( l, 2px ) solid $coral;
			cursor: pointer;
			background: white url('../images/25K_arrow_right.svg') 95% center no-repeat;
			background-size: rv( l, 12px ) auto;
			@include transition( 0.15s all );

			&[data-floor="0"] {
				background-image: none;
				@include transition( 0.15s all, 0.2s background );
			}

			&:hover {
				color: $coral;
			}

			&.active {
				background-color: $coral;
				color: white;
			}
		}

		&.hidden {
			background: white;

			.floorplan-interactive__nav-item {
				display: none;

				&[data-floor="0"] {
					display: block;
					color: white;
					background: $coral url('../images/25K_arrow.svg') 5% center no-repeat;
					background-size: rv( l, 12px ) auto;

					&:hover {
						background-position: 4% center;
					}
				}
			}
		}
	}

	&__detail-block {
		display: none;
		padding: rv( l, 50px ) rv( l, 30px );
		text-align: left;

		&.selected {
			display: block;
		}

		h4 {
			margin-bottom: rv( l, 8px );
			color: $navy;
		}

		@at-root .birds-eye-toggle {
			cursor: pointer;
			position: absolute;
			bottom: rv( l, 36px );
			left: 50%;
			@include transform( translate( -50%, 0 ) );
		}
	}

	@at-root .floors-stack {
		float: right;
		width: 71.4%;
		height: rv( l, 638px );
		position: relative;
		left: rv( l, 40px );

		&__image {
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 50%;
			max-width: none;
			@include transform( translate3d(-50%, -50%, 0) scale(0.5) );
			@include transition( 0.3s all ease-in-out, 0s opacity );

			&.floor-9 {
				margin-top: rv( l, 120px );
				width: rv( l, 624px );
			}

			&.floor-8 {
				margin-top: rv( l, 160px );
				width: rv( l, 644px );
				margin-left: rv( l, -5px );
			}

			&.floor-7 {
				margin-top: rv( l, 210px );
				width: rv( l, 662px );
			}

			&.floor-6 {
				margin-top: rv( l, 250px );
				width: rv( l, 670px );
				margin-left: rv( l, -2px );
			}

			&.floor-5 {
				margin-top: rv( l, 290px );
				width: rv( l, 684px );
			}

			&.floor-4 {
				margin-top: rv( l, 330px );
				width: rv( l, 718px );
			}

			&.floor-3 {
				margin-top: rv( l, 370px );
				width: rv( l, 718px );
			}

			&.floor-2 {
				margin-top: rv( l, 410px );
				width: rv( l, 718px );
			}

			&.floor-1 {
				margin-top: rv( l, 450px );
				width: rv( l, 1284px );
			}

			// Interaction states
			&.above {
				@include transform( translate3d(-50%, -90%, 0) scale(0.5) );

				&.unselected {
					@include transform( translate3d(-50%, -150%, 0) scale(0.5) );
				}
			}

			&.below {
				@include transform( translate3d(-50%, -10%, 0) scale(0.5) );

				&.unselected {
					@include transform( translate3d(-50%, 50%, 0) scale(0.5) );
				}
			}

			&.selected {
				@include transform( translate3d(-50%, -50%, 0) scale(0.6) );
				margin-top: 0;
				top: 50%;
				cursor: default;
			}

			&.unselected {
				opacity: 0;
				cursor: default;
			}

			// Bird's-eye
			&.birds-eye {
				display: none;
				top: 50%;
				left: 50%;
				margin-top: 0;
				width: 800px;
				@include transform( translate3d(-50%, -50%, 0) scale(0.8) );
				@include transition( none );
			}

			&.faded {
				opacity: 0;
			}
		}
	}
}

.floorplan-details {
	padding: 0 rv( l, 80px );

	&__image {
		width: 60%;
		float: right;
		padding: rv( l, 138px ) rv( l, 24px );
		padding-right: 0;

		img {
			width: 100%;
		}
	}

	&__info {
		position: absolute;
		width: 40%;
		float: left;
		padding-right: rv( l, 80px );
		top: 50%;
		@include transform( translateY(-50%) );

		h2 {
			padding-right: rv( l, 24px );
		}

		p {
			padding-right: rv( l, 80px );
		}
	}

	&__stats {

		li {
			position: relative;
			padding-left: rv( l, 24px );

			p {
				font-size: rv( l, 12px );
				padding-right: rv( l, 0px );
				margin-bottom: rv( l, 12px );
			}

			span {
				font-family: $sans;
				font-size: rv( l, 14px );
				line-height: 1;
				text-transform: uppercase;
				padding-right: rv( l, 2px );
				display: inline-block;
				float: left;
			}

			&:nth-child(n) {

				&:before {
					content: '';
					position: absolute;
					left: 0;
					bottom: rv( l, 2px );
					width: rv( l, 14px );
					height: rv( l, 14px );
					border-radius: 100%;
					background: $ltechoblue;
				}
			}

			&:nth-child(2) {

				&:before {
					background: $ltlavender;
				}
			}

			&:nth-child(3) {

				&:before {
					background: $ltpeach;
				}
			}

			&:nth-child(4) {

				&:before {
					background: $echoblue;
				}
			}

			&:nth-child(5) {

				&:before {
					background: $lavender;
				}
			}

			&:nth-child(6) {

				&:before {
					background: $peach;
				}
			}
		}
	}
}

.floors-arrows {
	position: absolute;
	left: rv( l, 430px );
	top: 50%;
	@include transform(translate(0,-50%));
	display: none;

	&__button {
		display: block;
		width: rv( l, 40px );
		height: rv( l, 40px );
		background: $coral url('../images/25K_arrow.svg') center no-repeat;
		background-size: rv( l, 10px ) auto;
		margin-bottom: rv( l, 10px );
		cursor: pointer;
		@include transform( rotate(90deg) );
		@include transition( 0.15s background, 0.15s transform, 0.15s -webkit-transform );

		&.down {
			@include transform( rotate(-90deg) );
		}

		&.disabled {
			opacity: 0.4;
			cursor: default;
		}

		&:hover:not(.disabled) {
			background-size: rv( l, 12px );
		}

		&:active {
			@include transform( rotate(90deg) scale(0.9) );

			&.down {
				@include transform( rotate(-90deg) scale(0.9) );
			}
		}
	}
}

@media ( max-width: $smdesktop-breakpoint ) {
	.floorplan-fits {

		&__block {
			padding: 0 rv( t, 60px );

			h4 {
				margin-top: rv( t, 32px );
			}
		}
	}

	.floorplan-details {
		padding: 0 rv( s, 60px );

		&__image {
			padding: rv( s, 138px ) rv( s, 24px );
			padding-right: 0;

			img {
				width: 100%;
			}
		}

		&__info {
			padding-right: rv( s, 80px );

			h2 {
				padding-right: rv( s, 48px );
			}

			p {
				padding-right: rv( s, 20px );
				font-size: rv( s, 16px );
			}
		}

		&__stats {

			li {
				padding-left: rv( s, 24px );

				p {
					font-size: rv( s, 12px );
					padding-right: rv( s, 0px );
					margin-bottom: rv( s, 12px );
				}

				span {
					font-size: rv( s, 14px );
					padding-right: rv( s, 2px );
				}

				&:nth-child(n) {

					&:before {
						bottom: rv( s, 2px );
						width: rv( s, 14px );
						height: rv( s, 14px );
					}
				}
			}
		}
	}
}

@media ( max-width: $smdesktop-breakpoint ) {

	.floorplan-details {
		padding: 0 rv( t, 44px );

		&__image {
			padding: rv( t, 48px ) rv( t, 28px );
			padding-right: 0;

			img {
				width: 100%;
			}
		}

		&__info {

			position: relative;
			top: 0;
			@include transform( translateY(0) );
			padding-top: rv( t, 46px );
			padding-right: rv( t, 0px );

			h2 {
				padding-right: rv( t, 4px );
				font-size: rv( t, 28px );
			}

			p {
				padding-right: rv( t, 32px );
				font-size: rv( t, 16px );
			}
		}

		&__stats {
			padding-bottom: rv( t, 36px );

			li {

				p {
					font-size: rv( t, 12px );
					margin-bottom: rv( t, 12px );
				}

				span {
					font-size: rv( t, 14px );
					padding-right: rv( t, 2px );
					line-height: 1.1;
				}

				&:nth-child(n) {

					&:before {
						bottom: initial;
						top: rv( t, 2px );
						width: rv( t, 12px );
						height: rv( t, 12px );
					}
				}
			}
		}
	}

	.floors-arrows {
		left: rv( t, 280px );

		&__button {

			width: rv( t, 40px ); 
			height: rv( t, 40px ); 
			background-size: rv( t, 10px ) auto;
			
			&:hover:not(.disabled) {
				background-size: rv( t, 10px ) auto;
			}
		}
	}

	.floorplan-interactive {
		padding: rv( t, 70px ) rv( t, 10px ); 
		
		&__nav {
			width: 28%;
			height: rv( t, 420px ); 

			&-item {
				font-size: rv( t, 16px ); 
				line-height: rv( t, 40px ); 
				
				&:hover {
					color: initial;
				}

			}

			&.hidden {
				.floorplan-interactive__nav-item[data-floor="0"] {
					background-size: rv( t, 13px ) auto;
					
					&:hover {
						background-position: 5% center;
						color: initial;
					}

				}
			}
			
		}

		&__detail-block {
			padding: rv( t, 38px ) rv( t, 24px );

			h2 {
				margin-bottom: rv( t, 26px );   
			}

			h4 {
				font-size: rv( t, 16px );
				line-height: rv( t, 20px );  
				
				&:last-of-type {
					margin-bottom: rv( t, 120px );  
				}
			}

			.birds-eye-toggle {
				padding: rv( t, 14px ) 24px;
				bottom: rv( t, 40px );
				width: rv( t, 162px );
				
				&:before {
					background: $coral;
				}
				
				&:hover {
					background: $coral;
					
					.button__text {
						color: #fff;
					}
				}

				.button__text {
					font-size: rv( t, 16px );   
				}
				
			}
		
		}
	}

	.floors-stack {
		width: 65.4%;	

		&__image {
		
			&.birds-eye {
				width: rv( t, 450px );  
			}
		}
	}

}

@media ( max-width: $tablet-design ) {

	.floorplan-details {
		padding: 0 rv( t, 44px );

		&__stats {
			display: inline-block;
			width: 100%;
			padding-bottom: rv( t, 36px );

			li {
				width: 32%;
				display: inline-block;
				padding-left: rv( t, 18px );
				padding-right: rv( t, 24px );

				p {
					font-size: rv( t, 12px );
					padding-right: rv( t, 0px );
					margin-bottom: rv( t, 12px );
				}

				span {
					font-size: rv( t, 14px );
					padding-right: rv( t, 2px );
					line-height: 1.1;
				}

				&:nth-child(n) {

					&:before {
						bottom: initial;
						top: rv( t, 2px );
						width: rv( t, 12px );
						height: rv( t, 12px );
					}
				}
			}
		}
	}

}

@media ( max-width: $mobile-breakpoint ) {

	#floorplan-intro {

		h1 {
			padding: 0 rv( m, 0px );
			margin-bottom: rv( m, 28px );
			font-size: rv( m, 36px );
		}

		p {

			&.big {
				font-size: rv( m, 16px );
				margin-bottom: 0;
			}
		}
	}

	.floorplan-fits {

		&__block {
			padding: 0 rv( m, 20px );

			h4 {
				margin-top: rv( m, 32px );
			}
		}
	}

	.floorplan-details {
		padding: 0 rv( m, 20px );

		&__image {
			padding: rv( m, 36px ) rv( m, 0px );
			float: left;
			width: 100%;

			img {
				width: 100%;
			}
		}

		&__info {
			position: relative;
			float: left;
			width: 100%;
			top: 0;
			@include transform( translateY(0) );
			padding-top: rv( m, 0px );
			padding-right: rv( m, 0px );

			h4 {
				font-size: rv( m, 14px );
			}

			h2 {
				padding-right: rv( m, 4px );
				font-size: rv( m, 28px );
			}

			p {
				padding-right: rv( m, 0px );
				font-size: rv( m, 14px );
			}
		}

		&__stats {
			display: inline-block;
			width: 100%;
			padding-bottom: rv( m, 36px );

			li {
				width: 100%;
				display: inline-block;
				padding-left: rv( m, 10px );
				padding-right: rv( m, 0px );

				p {
					font-size: rv( m, 12px );
					padding-right: rv( m, 0px );
					margin-bottom: rv( m, 8px );
				}

				span {
					font-size: rv( m, 14px );
					padding-right: rv( m, 2px );
					line-height: 1.1;
				}

				&:nth-child(n) {

					&:before {
						bottom: initial;
						top: rv( m, 3px );
						left: rv( m, -2px );
						width: rv( m, 8px );
						height: rv( m, 8px );
					}
				}
			}
		}
	}

	// New floorplan view for mobile 
	
	.floorplan-interactive {
		padding: 0;
	}

	.floorplan-interactive__nav, .floors-stack, .floors-arrows {
		display: none !important;
	}


	.floorplan-dropdown {
		text-align: center;
		
		.birds-eye {
			display: none;
		}

		&__header {
			font-size: rv( m, 16px );
			border-top: rv( m, 2px ) solid $coral;
			padding: rv( m, 15px ) 0;
			position: relative;
			background: #fff; 
			@include transition( .3s, all ease);
			
			&.ui-accordion-header-active {
				background: $coral;
				color: #fff;
				
				&:before {
					border-color: $coral transparent transparent transparent;
					top: rv( m, 21px );
					@include transform(rotate(180deg));
				}

				&:after {
					border-color: #fff transparent transparent transparent;	
					@include transform(rotate(180deg));
				}
				
			}
			
			&:before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: rv( m, 10px ) rv( m, 10px ) 0 rv( m, 10px );
				border-color: #fff transparent transparent transparent;
				right: rv( m, 20px );
				top: rv( m, 15px );;
				z-index: $z-index-base;
				@include transition( .3s, all ease);
				
			}

			&:after {
				content: '';
				position: absolute;
				width: 0px;
				height: 0px;
				border-style: solid;
				right: rv( m, 20px );
				bottom: rv( m, 18px );
				border-width: rv( m, 10px ) rv( m, 10px ) 0 rv( m, 10px );
				border-color: $coral transparent transparent;
				@include transition( .3s, all ease);
			}


		}

		&__contents {
			// display: none;	
			
			img {
				max-width: 80%;
				width: auto;
				height: rv( m, 200px);
				margin: rv( m, 20px ) auto rv( m, 28px );
			}

			h4 {
				color: $navy;
				font-size: rv( m, 18px ); 
				max-width: 80%;
				margin: 0 auto rv( m, 1px );
			}
		}

	}

	.birds-eye-toggle-mobile {
		margin: rv( m, 32px ) auto;
		
		.button__text {
			font-size: rv( m, 16px ); 
		}
	}


	


}