section[class*="contact-"]{
	text-align: center;
}

.contact-hero {

	&.full-width-fluid {
		padding: 0;
	}

	&__header {
		margin-bottom: rv( l, 36px);
	}

	&__text {
		padding-top: rv( l, 125px);
		padding-bottom: rv( l, 125px);
	}

	&__paragraph {
		margin-bottom: 0;
	}

}

.contact-inquiries {

	&.block.full-width-fluid {
		padding-top: rv( l,  56px);
		padding-bottom: rv( l, 56px);
	}

	&__logo {
		display: block;
		margin: 0 auto;
		width: 25%;
		margin-bottom: rv( l, 30px );
	}


	&__col {
		&.single {
			float: none;
		}

	}

	&__paragraph {
		margin-bottom: 0;
		
		&:hover {
			a[href*="mailto"] {
				color: $coral;
			}
		}
			
		a {
			color: $navy;
		}	
	}
}

.contact-maps {
	padding-top: 5.46875vw;
	padding-bottom: 5.46875vw;

	&__address {
		padding-right: rv( l, 290px);
		padding-left: rv( l, 290px);
		
		a {
			color: $navy;
			text-decoration: underline;	
			
			&:hover {
				color: $coral;
			}
		}
	}

	&.full-width-fluid {
		padding: 0;
	}

}

.contact-full-image {
	
	&.full-width-fluid {
		padding-right: 0;
		padding-left: 0; 
	}

}


// Responsive styles

@media ( max-width: $smdesktop-breakpoint ) {

	.contact-hero{

		&__header {
			font-size: rv( t,  35px);
			margin-bottom: rv( t, 40px); 
		}

		&__paragraph {
			padding-right: rv( t, 119px);
			padding-left: rv( t, 119px);
		}

	}

	.contact-inquiries {

		&__logo {
			width: 28%;
			margin-bottom: rv( t,  22px); 
		}

		&__name {
			font-size: rv( t,  17px);
			margin-bottom: rv( t, 15px); 
		}

		&__col {
			padding-top: rv( t,  14px);
			padding-bottom: 0;

			&.single {
				padding-top: 0;
			}
		}

		&__second {
			margin-bottom: rv( t,  22px);
		}		
	}

	.contact-maps {

		&__header {
			margin-bottom: rv( t, 13px); 
		}

		&__title {
			margin-bottom: rv( t, 29px);
		}

		&__address {
			padding-right: rv( t,  250px);
			padding-left: rv( t,  250px);
		}

		&__block {
			padding-top: rv( t, 26px);
			padding-bottom: rv( t, 26px);
		}

	}
}

@media ( max-width: $mobile-breakpoint ) {

	.contact-hero {

		&__header {
			font-size: rv( m,  42px);
			padding-right: rv( m, 13px); 
			padding-left: rv( m, 13px);	
		}

		&__paragraph {
			padding-right: 0;
			padding-left: 0; 
		}

		&__text {
			padding-top: rv( m, 63px);	
			padding-bottom: rv( m, 63px);	   
		}
	}

	.contact-inquiries {

		&.block.full-width-fluid {
			padding-top: rv( m,  30px);
			padding-bottom: rv( m, 30px);
		}

		&__header {
			margin-bottom: rv( m, 25px);   
		}

		&__logo {
			width: 56%;
			margin-bottom:  rv( m, 22px); 
		}

		&__name {
			font-size: rv( m, 16px);
			margin-bottom: rv( m, 14px);
		}

		&__col {
			margin-bottom: rv( m, 20px);

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.contact-maps {

		&__address {
			padding-right: rv( m, 50px); 
			padding-left: rv( m, 50px); 
		}

		&__title {
			margin-bottom: rv( m, 29px);  
		}

		&__block {
			padding-top: rv( m, 28px); 
			padding-bottom: rv( m, 28px); 
		}
	}

	.contact-full-image {
		overflow: hidden;
		
		img {
			max-width: none;
			position: relative;
    		width: auto;
    		height: 360px;
    		left: 25%;
    		margin-left: -50%;
    		margin-top: rv( m, 10px); 
    		margin-bottom : rv( m, 10px); 
		}	
	}


}