// Neighborhood page specific styles

.neighborhood-hero {

	&__video {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		@include transform( translate(-50%, -50%) );
	}

	&__buttons {
		text-align: center;
		position: absolute;
		width: 100%;
		bottom: rv( l, 48px );

		a {
			margin: 0 rv( l, 12px );
		}
	}
}

.neighborhood-intro {
	margin-bottom: rv( l, 0px );

	.block__text {
		padding-left: 0;
		padding-right: 0;
	}
}

.neighborhood-dining, .neighborhood-parks, .neighborhood-entertainment {

	&__hero {
		position: relative;
		float: left;
		height: rv( l, 500px );
		
		.big-hero__title {
			padding-top: 0;
			margin-bottom: 0;   
		}
	}

	&__copy {

		.block__text {
			width: 100%;

			p {
				padding: 0 rv( l, 90px );
				margin-bottom: 0; 
			}
		}
	}

	
}

.neighborhood-dining, .neighborhood-entertainment {
	&__copy {
		float: right; 
	}
}

.neighborhood-maps {

	&__block {
		text-align: center;
		padding: 0 rv( l, 80px );

		h4 {
			margin-top: rv( l, 32px );
		}
	}
}

.neighborhood-hotspots, .neighborhood-transit {
	background: white;
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	opacity: 0;
	@include transition( opacity 0.2s ease-in-out, z-index 0.2s ease-in-out );

	&.open {
		z-index: $z-index-cheating;
	}

	&:before {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.5);
	}

	&__buttons {
		position: absolute;
		bottom: rv( l, 20px );
		right: rv( l, 20px );
		
		a {
			position: relative;
			width: rv( l, 40px );
			height: rv( l, 40px );
			text-align: center;
			float: right;
			clear: both;
			background: $coral;
			margin-bottom: rv( l, 10px );
			@include transition( all 0.15s );

			&.zoom-out {

				img {
					max-width: rv( l, 22px );
				}
			}

			&:hover {

				img {
					@include transform( scale(1) translateY(-50%) )
				}
			}
		}

		img {
			width: 100%;
			max-width: rv( l, 18px );
			height: auto;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: 0 auto;
			@include transition( all 0.15s );
			@include transform( scale(0.9) translateY(-50%) );
		}
	}

	&__parent {
		width: 100%;
		height: 100%;
		top: 0;
		background-color: white;
	}

	&__container {
		background: white;
		width: 100%;
	}

	&__map {
		width: 90%;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	&__rotate {
		transform-origin: center;
		animation: roto 45s linear infinite;
	}

	&__markers, &__logo {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 90%;
		height: auto;
	}

	&__markers {
		z-index: $z-index-mid;
	}

	&__marker {
		position: relative;
		cursor: default;
	}

	&__tooltip {
		position: absolute;
		background: $navy;
		text-align: center;
		z-index: $z-index-mid;
		opacity: 0;
		cursor: default;
		@include transition( opacity 0.2s ease-in-out );

		p {
			position: absolute;
			z-index: $z-index-mid;
			color: white;
			font-size: rv( l, 14px );
			padding: rv( l, 8px ) rv( l, 28px );
			white-space: nowrap;
			background: $navy;
			font-family: $sans;
			@include transform( translateX(-50%) translateY(-150%) ); 
			margin-bottom: 0;

			&:before {
				content: '';
				position: absolute;
				bottom: rv( l, -6px );
				left: 0;
				right: 0;
				margin: 0 auto;
				border-top: rv( l, 10px ) solid $navy;
				border-left: rv( l, 10px ) solid transparent;
				border-right: rv( l, 10px ) solid transparent;
				width: rv( l, 10px );
			}
		}
	}

	&__close {
		position: absolute;
		cursor: pointer;
		top: 50%;
		right: 0;
		width: 6.25%;
		height: 100%;
		@include transform( translateY(-50%) );

		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			background: $coral;
			width: rv( l, 2px );
			height: rv( l, 18px );
			@include transform( translateY(-50%) rotate(45deg) );
		}

		&:after {
			@include transform( translateY(-50%) rotate(-45deg) );
		}
	}

	&__filters {
		position: absolute;
		width: 100%;
		background: white;
		border: rv( l, 2px ) solid $coral;
		top: 0;
		left: 0;

		ul {
			position: relative;
			text-align: center;
			height: rv( l, 100px );
		}

		li {
			position: relative;
			display: inline-block;
			background: white;
			width: 12.5%;
			height: 100%;
			text-align: center;
			border-left: rv( l, 2px ) solid $coral;
			margin-right: rv( l, -4px );
			@include transition( background 0.1s ease-in-out);

			&:nth-child(1) {
				margin-left: rv( l, -3px );

				a {

					&:hover {

						img {
							@include transform( translateY(-50%) );
						}
					}
				}
			}
			
			&:nth-last-child(2) {
				border-right: rv( l, 2px ) solid $coral;
			}

			&.active {
				background: $coral;

				&:nth-child(1) {

					a {

						img {
							@include transform( translateY(-50%) );
						}
					}
				}

				.color {
					opacity: 0;
				}

				&:before {
					opacity: 1;
				}

				a {

					span {
						opacity: 1;
						bottom: rv( l, 14px );
					}

					img {
						@include transform( translateY(-70%) );
					}
				}
			}
		}

		a {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 50%;
			@include transform( translateY(-50%) );

			span {
				color: $navy;
				font-family: $sans;
				font-size: rv( l, 20px );
				line-height: rv( l, 12px );
				text-transform: uppercase;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 0;
				@include transition( all 0.2s ease-in-out );
			}

			img {
				width: 100%;
				max-width: rv( l, 46px );
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				margin: 0 auto;
				@include transform( translateY(-50%) );
				@include transition( opacity 0.1s ease-out, transform 0.2s ease-in-out );

				&.color {
					z-index: $z-index-mid;
					opacity: 1;
				}

				&.blue {
					z-index: $z-index-base;
				}
			}

			&:hover {

				span {
					opacity: 1;
					bottom: rv( l, 14px );
				}

				img {
					@include transform( translateY(-70%) );
				}
			}
		}
	}

	@at-root .st0 {
		display: none;
	}

	@at-root .st1, .st2, .st3, .st4, .st5, .st6 {
		@include transition( opacity 0.2s ease-in-out );

		&:before {
			position: absolute;
			top: rv( l, 0px );
			opacity: 0;
			content: attr(data-hotspot)"";
			background: $navy;
			padding: rv( l, 8px ) rv( l, 28px );
			color: white;
			font-size: rv( l, 14px );
			line-height: rv( l, 22px );
			font-family: $sans;
			@include transition( all 0.2s ease-in-out );
		}
		
		&:hover {

			&:before {
				opacity: 1;
				top: rv( l, -20px );
			}
		}
	}
}

.neighborhood-transit {

	&__map {
		margin: 0 auto;;
		display: block;
	}

	&__close {
		top: 25px;
		right: -50px;
		height: 6.25%;
	}
}

@media ( max-width: $smdesktop-breakpoint ) {
	.neighborhood-dining, .neighborhood-parks, .neighborhood-entertainment {
		
		&__copy {
			.block__text {
			
				p {
					// font-size: rv( t, 16px); 
				}
			}
		}	

	}



}

@media ( max-width: $tablet-breakpoint ) {
	.neighborhood-hero {
		.big-hero__title {
			padding-top: 0;
		}

		&__buttons {
			bottom: rv( t, 34px);
		}

		&__button {
			min-width: rv( t, 160px);
			padding: rv( t, 14.5px) 24px;
			font-size: rv( t, 16px);
			
			.button__text {
				line-height: rv( t, 12px);  
			}
		}



	}

	.neighborhood-intro {
		&.block {
			padding: 0 rv( t, 156px);
		}
	}

	.neighborhood-dining, .neighborhood-entertainment, .neighborhood-parks {
		&__hero {
			
			.big-hero__title {
				padding-top: 0;
				font-size: rv( t, 52px);
				margin-bottom: 0;  
			}

		}
	}

	.neighborhood-dining, .neighborhood-parks, .neighborhood-entertainment {
		
		&__copy {
			.block__text {
				padding: 0;
				
				h2 {
					padding: 0 rv( t, 30px);
				}
			
				p {
					padding-bottom: 0;
					margin-bottom: 0; 
					padding:0 rv( t, 60px); 
					font-size: rv( t, 14px); 
				}
			}
		}	

	}
	
	.neighborhood-maps {
		&__intro {
			&.full-width-fluid {
				padding: rv( t, 50px) 14.0625vw;
			}
		}

		&__block {
			padding: 0 rv( t, 129px );		
		}

	}	

}

@media ( max-width: $mobile-breakpoint ) {
	.neighborhood-hero { 
		// margin-top: 20.625vw; 
		
		&.block {
			.big-hero__content{
				.big-hero__title {
					padding-top: 0;
					// margin-bottom: rv( m, 108px);
				}
			}
		}

		
		&__button {
			display: block;
			width: rv( m, 160px);
			margin: 0 auto rv( m, 20px);
			font-size: rv( m, 16px);
			padding: rv( m, 13.5px) 24px;
		}

	}

	.neighborhood-intro {
		&.block {
			padding: 0;
			
			.block__text {
				padding: rv( m , 36px) rv( m, 20px);
			}
		}
	}

	.neighborhood-dining, .neighborhood-entertainment, .neighborhood-parks {
		&__hero.block.big-hero {
				height: rv( m, 300px);
				
				.big-hero__title {
					padding-top: 0;
					padding-right: 0;
					padding-left: 0; 
					font-size: rv( m, 52px);
					margin-bottom: 0;  
				}
			
		}

		&__copy {
			border-bottom: 0;
			
			.middle {
				@include middle;
			}

			.block__text {
				
				h2 {
					padding: 0 rv( m, 30px);
				}

				p {
					font-size: rv( m, 14px);  
				}
			}
		}
	}

	.neighborhood-parks, .neighborhood-entertainment {
		&__hero {
			margin-top: 6.25vw; 
		}
	}

	.neighborhood-maps__intro {
		margin-top: 6.25vw; 	
	}

	.neighborhood-maps {
		&__intro {
			&.full-width-fluid {
				padding: rv( m, 63px) 0;
			}
		}
		
		&__block {
			padding: 0 rv( m, 14px);
		}

	}
}

@include keyframes( roto ) {
	from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}