

// The Team page specific styles
.team-partners {
	margin-top: rv( l, 60px );
	
	.block {
		margin-bottom: 0;
	}

	.block__text {
		width: 100%;
		border-right: rv( l, 2px ) solid $coral;
	}
	
	&__bio {
		
		h2 {
			font-size: rv( l, 42px );
			line-height: 1;
		}

		p {
			font-size: rv( l, 16px );
		}

		&:nth-child(1) {
			margin-bottom: rv( l, 70px );
		}
	}
}

.team-logos {

	.block {
		margin-bottom: 0;
	}

	&__item {
		padding: rv( l, 22px ) 0;

		h4 {
			font-size: rv( l, 16px );
			color: $grayblue;
			margin-bottom: 12px;
		}

		img {		
			width: 100%;
		}

		&:nth-child(1) {
			padding-top: 0;

			img {
				max-width: rv( l, 218px );
			}
		}

		&:nth-child(2) {

			img {
				max-width: rv( l, 95px );
			}
		}

		&:nth-child(3) {

			img {
				max-width: rv( l, 161px );
			}
		}

		&:nth-child(4) {

			img {
				max-width: rv( l, 157px );
			}
		}

		&:nth-child(5) {

			img {
				max-width: rv( l, 163px );
			}
		}
	}
}

#team-inquiries {
	padding-top: rv( l, 55px );
	padding-bottom: rv( l, 84px );
}

@media ( max-width: $smdesktop-breakpoint ) {

	.team-partners {
		margin-top: rv( s, 40px );
		
		.block__text {
			border-right: rv( t, 2px ) solid $coral;
		}

		&__bio {

			h2 {
				font-size: rv( s, 28px );
			}

			p {
				font-size: rv( s, 14px );
			}
		}
	}

	.team-logos {

		&__item {
			padding: rv( s, 14px ) 0;

			h4 {
				font-size: rv( s, 16px );
				color: $grayblue;
				margin-bottom: 12px;
			}

			img {		
				width: 100%;
			}

			&:nth-child(1) {
				padding-top: 0;

				img {
					max-width: rv( s, 218px );
				}
			}

			&:nth-child(2) {

				img {
					max-width: rv( s, 95px );
				}
			}

			&:nth-child(3) {

				img {
					max-width: rv( s, 161px );
				}
			}

			&:nth-child(4) {

				img {
					max-width: rv( s, 157px );
				}
			}

			&:nth-child(5) {

				img {
					max-width: rv( s, 163px );
				}
			}
		}
	}

	#team-inquiries {
		padding-top: rv( s, 26px );
		padding-bottom: rv( t, 76px );
	}
}

@media ( max-width: $tablet-breakpoint ) {
	.team-partners {
		margin-top: rv( t, 40px );
		
		.block__text {
			border-right: rv( t, 2px ) solid $coral;
		}

		&__bio {

			h2 {
				font-size: rv( t, 28px );
			}

			p {
				font-size: rv( t, 12px );
			}
		}
	}

	#team-inquiries {
		padding-top: rv( t, 19px );
	}
}

@media ( max-width: $mobile-breakpoint ) {

	.team-partners {
		margin-top: rv( m, 0px );

		.block__text {
			border-right: none;
			// border-bottom: rv( m, 2px ) solid $coral;
			&:after {
				content: '';
				display: block;
				background: $coral;  
				height: .48vw;
				position: relative;
				top: rv( m , 42px );	
			}
		}

		&__bio {

			h2 {
				font-size: rv( m, 28px );
			}

			p {
				font-size: rv( m, 14px );
			}
		}
	}

	.team-logos {

		&__list {
			margin-top: rv( m, 24px );
		}

		&__item {
			padding: rv( m, 14px ) 0;
			text-align: center;

			h4 {
				font-size: rv( m, 16px );
				color: $grayblue;
				margin-bottom: 12px;
			}

			img {		
				width: 100%;
			}

			&:nth-child(1) {
				padding-top: 0;

				img {
					max-width: rv( m, 218px );
				}
			}

			&:nth-child(2) {

				img {
					max-width: rv( m, 95px );
				}
			}

			&:nth-child(3) {

				img {
					max-width: rv( m, 161px );
				}
			}

			&:nth-child(4) {

				img {
					max-width: rv( m, 157px );
				}
			}

			&:nth-child(5) {

				img {
					max-width: rv( m, 163px );
				}
			}
		}
	}
	#team-inquiries {
		padding-bottom: rv( m, 58px );
	}
}