

// The Building page specific styles
.building-subnav {
	position: relative;
	display: inline-block;
	width: 100%;
	border-top: 2px solid $coral;
	border-bottom: 2px solid $coral;
	margin-top: rv( l, 36px );

	&__list {
		width: rv( l, 706px );
		margin: 0 auto;
	}

	&__link {
		display: block;
		float: left;
		width: 33.333333%;
		border-right: 2px solid $coral;

		&.active {
			background-color: $coral;

			h4 {
				color: white;

				&:before {
					background: white;
				}
			}
		}

		&:nth-child(1) {
			border-left: 2px solid $coral;
		}

		a {
			text-align: center;
			display: block;
			padding: rv( l, 15px ) 0;
		}

		h4 {
			display: inline-block;
			margin-bottom: 0;
			position: relative;
			overflow: hidden;
			line-height: 1.5;
			@include transition( .15s all );

			&:before {
				content: '';
				background: $coral;
				height: rv( l, 2px );
				width: 0;
				@include transition( 0.15s left ease-in-out, 0s width 0.15s );
				position: absolute;
				bottom: rv(l , 0px );
				left: 100%;
			}
		}

		a:hover h4 {

			&:before {
				left: 0;
				width: 100%;
				@include transition( 0.15s width ease-in-out, 0s left );
			}
		}
	}
}

.building-carousel {
	width: rv( l, 930px);
	margin: - rv( l, 48px ) auto rv( l, 32px );
	position: relative;
	overflow: hidden;

	&__container { // slick container

		.slick-slide {
			display: block;
			float: left;
			width: 100%;
			max-width: rv( l, 930px);

			img {
				width: 100%;
			}
		}
	}

	&__controls { // slick controls
		position: absolute;
		bottom: 20px;
		right: 20px;

		a {
			background: $coral;
			padding: 0 15px;
			display: block;
			z-index: $z-index-mid;

			img {
				padding: 10px 0;
				width: 10px;
			}

			&.next {
				margin-bottom: 10px;

				img {
					@include transform( rotate(180deg) );
				}
			}
		}
	}
}

.building-highlights {

	h4 {
		margin-top: rv( l, 48px);
		&.navy {
			color: $navy;
		}
	}

	p {
		max-width: rv( l, 535px );
		margin: 0 auto;
		&.big {
			max-width: rv( l, 712px );
			margin-bottom: rv( l, 72px );
		}
	}

	&__container {
		display: inline-block;
		width: rv( l, 1124px );
		margin-top: rv( l, 48px );
	}

	&__item {
		float: left;
		width: 25%;
		padding: 0 rv( l, 12px );
		margin-bottom: rv( l, 48px );
		border-right: rv( l, 2px ) solid $navy;
		vertical-align: top;

		&:nth-child(4n) {
			border-right: none;
		}

		.image {
			height: rv( l, 82px );
			margin-bottom: rv( l, 24px );

			img {
				width: 100%;
				max-width: rv( l, 92px );
				position: relative;
				top: 50%;
				@include transform ( translateY(-50%) );
			}
		}

		h4 {
			font-size: rv( l, 18px );
			margin-top: 0;
			margin-bottom: rv( l, 12px );
			color: $navy;
		}

		p {
			font-size: rv( l, 16px );
			padding-bottom: rv( l, 24px );
		}
	}
}

#details {
	padding: 0;
}

.building-details {
	padding: rv( l, 48px );

	&__container {

	}

	&__item {
		width: 100%;
		display: inline-block;
		padding: rv( l, 24px ) 0;
		border-bottom: rv( l, 2px) solid white;
		
		&:nth-child(1) {
			border-top: rv( l, 2px ) solid white;
		}

		h3 {
			width: 30%;
			float: left;
			font-size: rv( l, 26px );
		}

		p {
			width: 35%;
			float: left;
			margin-bottom: 0;
		}
	}
}

#explore {
	padding: rv( l, 72px );
	margin-top: 2.17656vw;
}

.building-explore {

	&__text {
		width: 30%;
		float: left;
		transform: translateY(50%);
	}

	&__space {
		width: 70%;
		float: left;
		position: relative;

		img {
			width: 100%;
		}
	}

	&__mobile {
		display: none;
	}
}

.building-marker { // locations of individual markers
	position: absolute;

	&.roof { // marker 1
		top: rv( l, 155px );
		left: rv( l, 155px );

		.building-marker__counter {
			padding: rv( l, 10px) rv( l, 17px);
		}
	}

	&.terrace { // marker 2
		top: rv( l, 299px );
		left: rv( l, 136px );
	}

	&.light { // marker 3
		bottom: rv( l, 144px );
		left: rv( l, 244px );

		.building-marker__content {
			min-width: rv( l, 240px );
		}
	}

	&.common { // marker 4
		top: rv( l, 200px );
		left: rv( l, 421px );

		.building-marker__content {
			min-width: rv( l, 190px );
		}
	}

	&.parking { // marker 5
		bottom: rv( l, 60px );
		left: rv( l, 366px );

		.building-marker__content {
			min-width: rv( l, 245px );
		}
	}

	&.retail { // marker 6
		bottom: rv( l, 208px );
		right: rv( l, 160px );

		.building-marker__content {
			min-width: rv( l, 240px );
		}
	}

	&.plaza { // marker 7
		bottom: rv( l, 81px );
		left: rv( l, 80px );

		.building-marker__content {
			min-width: rv( l, 220px );
		}
	}

	&.bike { // marker 8
		bottom: rv( l, 110px );
		right: rv( l, 245px );

		.building-marker__content {
			min-width: rv( l, 180px );
		}
	}

 a {
  position: relative;
  display: inline-block;
 }
	span {
	 font-family: $sans;
	}

 &__counter {
  color: $navy;
  padding: rv( l, 10px) rv( l, 16px);
  font-size: rv( l, 22px );
  border-radius: 100%;
  z-index: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  @include transition( background-color 0.2s, z-index 0.1s, color 0.2s, transform 0.2s );

  &:before {
  	content: '';
  	position: absolute;
  	background: $coral;
  	border-radius: 100%;
  	width: rv( l, 40px );
  	height: rv( l, 40px );
  	top: 0;
  	left: 0;
  	z-index: -1;
  	@include transition( all 0.1s ease-in-out );
  }
 }

 &__content {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-width: rv( l, 210px );
  padding: rv( l, 18px) 0;
  text-align: right;
  bottom: - rv( l, 8px );
  left: - rv( l, 8px );
  background: white;
  border: 2px solid $coral;
  opacity: 0;
  @include transform( translate3d(-2.5em, 0, 0) );
  @include transition( opacity 0.15s ease-in-out, z-index 0.1s, transform 0.2s ease-in-out );
  
  &.left {
  	left: initial;
  	right: - rv( l, 8px );
  	@include transform( translate3d(2.5em, 0, 0) );
  	text-align: left;

  	.text {
  		padding-right: rv( l, 42px );
  	 padding-left: rv( l, 18px );
  	}
  }

  .text {
  	text-transform: uppercase;
  	font-size: rv( l, 20px );
   color: $coral;
   padding-right: rv( l, 18px );
   padding-left: rv( l, 42px );
   opacity: 0;
   @include transform( translate3d(1.5em, 0, 0) );
   @include transition( opacity 0.15s ease-in-out, transform 0.2s ease-in-out );
  }
 }
	
 a{
		&.hovered {

   .building-marker__counter {
   	z-index: 100;

   	&:before {
   		width: rv( l, 46px );
   		height: rv( l, 46px );
   		top: - rv( l, 2px );
   		left: - rv( l, 2px );
   	}
   }

   .building-marker__content {
    opacity: 1;
    z-index: 99;
    @include transform( translate3d(0, 0, 0) );

    .text {
     opacity: 1;
     @include transform( translate3d(0, 0, 0) );
    }
   }
		}
	}
}

hr {

	&.building-divider {
		width: rv( l, 1124px);
		margin: 0 auto;
		border-top: rv( l, 2px ) solid $navy;
		display: block;
	}
}

@media ( max-width: $smdesktop-breakpoint ) {

	#redefine {
		
		.block__text {
			width: 75%;
		}
	}

	.building-subnav {

		&__list {
			width: rv( t, 424px );
		}

		&__link a {
			padding: rv( t, 9px ) 0;
		}


	}

	hr {

		&.building-divider {
			width: rv( t, 670px);
			border-top: rv( t, 2px ) solid $navy;
		}
	}
	.building-carousel {
		width: rv( t, 556px);
	}

		.building-highlights {

		p {
			padding: 0;

			&.big {

				br {
					display: none;
				}
			}
		}

		&__container {
			width: 100%;
		}

		&__item {
			border-right: rv( t, 2px ) solid $navy;

			h4 {
				font-size: rv( t, 14px );
			}

			p {
				font-size: rv( t, 12px );
			}
		}
	}

	.building-details {
		&__item {
			padding: rv( t, 18px ) 0;
			border-bottom: rv( t, 2px ) solid white;

			&:nth-child(1) {
				border-top: rv( t, 2px ) solid white;
			}

			p {
				font-size: rv( t, 15px );
			}

			h3 {
				font-size: rv( t, 16px );
			}
		}
	}

	#explore {
		padding: rv( t, 44px );
	}

	.building-explore {

		&__text {
			transform: translateY(25%);
		}

		&__mobile {
			display: none;
		}
	}

	.building-marker {

		&.roof { // marker 1

			.building-marker__content {
				padding: rv( t, 15px) 0;
			}
		}

		&.light { // marker 3

			.building-marker__content {
				min-width: rv( t, 158px );
			}
		}

		&.common { // marker 4

			.building-marker__content {
				min-width: rv( t, 130px );
			}
		}

		&.parking { // marker 5

			.building-marker__content {
				min-width: rv( t, 160px );
			}
		}

		&.retail { // marker 6

			.building-marker__content {
				min-width: rv( t, 158px );
			}
		}

		&.plaza { // marker 7

			.building-marker__content {
				min-width: rv( t, 145px );
			}
		}

		&.bike { // marker 8

			.building-marker__content {
				min-width: rv( t, 120px );
			}
		}

		&__counter {
			font-size: rv( t, 18px );
			padding: rv( t, 8px) rv( t, 9px);

			&:before {
				top: - rv( t, 2px );
				left: - rv( t, 7px );
				width: rv( t, 38px );
				height: rv( t, 38px );
			}
		}
				
		&__content {
			padding: rv( t, 18px) 0;
			bottom: - rv( t, 11px );
  	left: - rv( t, 12px );
  	min-width: rv( t, 140px );

			.text {
   	text-transform: uppercase;
   	font-size: rv( t, 12px );
   }

   &.left {
   	right: - rv( t, 12px );
			}
		}

		a {

			&.hovered {

				.building-marker__counter {

					&:before {
						top: - rv( t, 2px );
						left: - rv( t, 7px );
						width: rv( t, 38px );
						height: rv( t, 38px );
					}
				}
			}
		}
	}
}

@media ( max-width: $tablet-breakpoint ) {
	
	.building-subnav { 
		
		&__link a {
			h4 {
				&:before { 
					display: none; 
				}
			}	
		}
	}
}

@media ( max-width: $mobile-breakpoint ) {

	.building-subnav {

		&__list {
			width: rv( m, 282px );
		}

		&__link a {
			padding: rv( m, 5px ) a;
		}
	}

	hr {

		&.building-divider {
			width: rv( m, 282px);
			border-top: rv( m, 2px ) solid $navy;
		}
	}

	#redefine {
		
		.block__text {
			width: 100%;

			h1 {
				font-size: rv( m, 30px );
			}

			p {
				
				&.big {
					margin-top: rv( m, 30px ); 
					font-size: rv( m, 16px );
				}
			}
		}
	}

	.building-carousel {
		width: rv( m, 282px);

		&__container {

			.slick-slide {

				img {

				}
			}
		}
	}

	.building-highlights {
		padding: rv( m, 24px );

		p {
			padding: 0;
			max-width: rv( m, 280px );

			&.big {

				br {
					display: none;
				}
			}
		}

		&__container {
			width: 100%;
		}

		&__item {
			width: 100%;
			border-right: none;
			padding: rv( m, 32px ) 0;
			margin-bottom: 0;
			border-bottom: rv( m, 2px ) solid $navy;

			&:nth-last-child(1) {
				border-bottom: none;
			}

			h4 {
				font-size: rv( m, 14px );
				padding: rv( m, 12px ) 0;
			}

			p {
				font-size: rv( m, 12px );
				padding: 0 rv( m, 24px );
			}

			.image {
				height: rv( m, 65px );

				img {
					max-width: rv( m, 76px );
				}
			}
		}

		hr {
			&.building-divider {
				width: 100%;
				margin-bottom: rv( m, 52px );
			}
		}
	}

	.building-details {
		padding: rv( m, 24px );

		&__item {
			padding: rv( m, 18px ) 0;
			border-bottom: rv( m, 2px ) solid white;

			&:nth-child(1) {
				border-top: rv( m, 2px ) solid white;
			}

			p {
				font-size: rv( m, 15px );
				width: 100%;
			}

			h3 {
				font-size: rv( m, 16px );
				padding-bottom: rv( m, 12px );
				width: 100%;
			}
		}
	}

	#explore {
		padding: rv( m, 48px) rv( m, 20px );
		margin-top: rv( m, 20px); 
	}

	.building-explore {

		&__text {
			width: 100%;
			float: left;
			transform: translateY(0%);
		}

		&__space {
			width: 100%;
			float: left;

			img {
				width: 100%;
			}
		}

		&__mobile {
			display: block;

			ul {
				display: inline-block;
				border-top: rv( m, 2px ) solid $coral;
				margin-top: rv( m, 42px );
				padding-top: rv( m, 12px );

				li {
					padding: rv( m, 12px) 0;
					width: 50%;
					float: left;
					font-size: rv( m, 14px );
					text-transform: uppercase;
					font-family: $sans;
					color: $coral;
				}
			}
		}
	}

	.building-marker {

		&.roof { // marker 1
			top: rv( m, 50px );
			left: rv( m, 50px );
		}

		&.terrace { // marker 2
			top: rv( m, 95px );
			left: rv( m, 40px );
		}

		&.light { // marker 3
			bottom: rv( m, 48px );
			left: rv( m, 85px );
		}

		&.common { // marker 4
			top: rv( m, 65px );
			left: rv( m, 140px );
		}

		&.parking { // marker 5
			bottom: rv( m, 20px );
			left: rv( m, 125px );
		}

		&.retail { // marker 6
			bottom: rv( m, 70px );
			right: rv( m, 55px );
		}

		&.plaza { // marker 7
			top: rv( m, 140px );
			left: rv( m, 25px );
		}

		&.bike { // marker 8
			bottom: rv( m, 35px );
			left: rv( m, 170px );
		}


		&__counter {
			font-size: rv( m, 18px );

			&:before {
				top: - rv( m, 1px );
				left: - rv( m, 7px );
				width: rv( m, 28px );
				height: rv( m, 28px );
			}
		}
		
		&__content {
			display: none;

			.text {
   	text-transform: uppercase;
   	font-size: rv( m, 12px );
   }

   &.left {
   	right: - rv( m, 12px );
			}
		}

		a {

			&.hovered {

				.building-marker__counter {

					&:before {
						top: - rv( m, 1px );
						left: - rv( m, 7px );
						width: rv( m, 28px );
						height: rv( m, 28px );
					}
				}
			}
		}
	}
}