
// Universal

body, html {
	color: $navy;
	font-family: $serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}


// Text

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.25px;
}

h1 {
	font-size: rv( l, 76px );
	margin-bottom: rv( l, 36px );
}

h2 {
	font-size: rv( l, 42px );
	margin-bottom: rv( l, 24px );
}

h4 {
	font-size: rv( l, 20px );
	color: $coral;
	margin-bottom: rv( l, 18px );
}

h5 {
	font-size: rv( l, 18px );
}

p {
	font-size: rv( l, 16px );
	line-height: 1.25;
	margin-bottom: rv( l, 32px );

	&.big {
		font-size: rv( l, 32px );
		line-height: 1.2;
	}
}

a {
	text-decoration: none;
	@include transition( .15s color );

	&.tel:hover {
		color: inherit;
		cursor: text;
	}
}


// Single elements

hr {
	border: none;
	margin: 0;
	border-top: rv( l, 3px ) solid $coral;
	width: rv( l, 94px );
	display: inline-block;
	margin-bottom: rv( l, 24px );
	
	&.full {
 		width: 100%; 
		margin: 0;
		display: block;
	}

	&.navy {
		border-color: $navy;
	}
}

.hr {
	&.inner {
		padding: 0 rv( l, 60px );
	}
}

.button {
	background: $coral;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	font-family: $sans;
	font-size: rv( l, 16px );
	font-weight: 500;
	line-height: 1;
	padding: rv( l, 13px ) rv( l, 22px );
	border: rv( l, 2px ) solid $coral;
	min-width: rv( l, 160px );
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	position: relative;
	overflow: hidden;
	@include transition( 0s background .15s );

	&__text {
		color: white;
		@include transition( 0.15s color );
		position: relative;
		z-index: $z-index-mid;
	}

	&:before {
		content: '';
		background: white;
		height: 100%;
		width: 0;
		border: none;
		position: absolute;
		z-index: $z-index-base;
		top: 0;
		left: 100%;
		@include transition( 0.15s left ease-in-out, 0s width 0.15s );
	}

	&:hover {
		@include transition( 0s background );

		.button__text {
			color: $coral;
		}

		&:before {
			left: 0;
			width: 100%;
			@include transition( 0.15s width ease-in-out, 0s left );
		}
	}
}

.uber-overlay {
	position: fixed;
	z-index: $z-index-cheating;
	top: 0;
	left: -200%;
	width: 100%;
	height: 100%;
	background: rgba( 19, 10, 70, 0.9 );
	opacity: 0;
	@include transition( 0.3s opacity, 0s left 0.3s );

	&.toggled {
		left: 0;
		opacity: 1;
		@include transition( 0.3s opacity, 0.15s padding-top );
	}
}


// Content blocks

.block {
	position: relative;
	float: left;
	border-bottom: rv( l, 28px ) solid white;
	margin-bottom: -0.995 * rv( l, 28px );

	// Block shapes

	&.half-width { // 1:1 square
		width: 50%;
		@include aspect-ratio(1);
	}

	&.full-width { // 2:1 rectangle
		width: 100%;
		@include aspect-ratio(2);

		&.hero.image {
			@include aspect-ratio(2.65)
		}

		&.big-hero {
			@include aspect-ratio( 1.94 );

			@at-root .big-hero__title {
				color: white;
				padding-top: rv( l, 62px );
				margin: 0;
			}

			@at-root .big-hero__button {
				margin-top: rv( l, 30px );

				&:before {
					background: $coral;
					width: 100%;
					@include transition( 0.15s width ease-in-out, 0s left );
					left: 0;
				}

				&:hover {
					background: transparent;

					.button__text {
						color: $coral;
					}

					&:before {
						left: 100%;
						width: 0;
						@include transition( 0.15s left ease-in-out, 0s width 0.15s );
					}
				}
			}
		}

		&.hr {

			&:before {
				display: none;
			}
		}
	}

	&.full-width-fluid { // full width, variable height
		width: 100%;
		padding: rv( l, 20px ) rv( l, 180px );
	}

	// Block styles

	&.bordered {
		border: rv( l, 28px ) solid white;
	}

	&.gray {
		background-color: $gray;
	}

	&.skyblue {
		background-color: $skyblue;
		color: $navy;
		
		h4 {
			color: #fff;
		}
	}

	&.navy {
		background-color: $navy;
		color: white;
	}

	&.coral {
		background-color: $coral;
		color: white;

		h4 {
			color: $navy;
		}

		hr {
			border-top-color: white;
		}

		.button {
			border-color: $navy;
			background: $navy;

			&:before {
				background: $coral;
			}

			&:hover {

				.button__text {
					color: $navy;
				}
			}
		}
	}

	&.image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&.float-right {
		float: right;
	}


	// Block children

	&__text {
		padding: rv( l, 80px );
		margin: 0 auto;
		width: 75%;

		&.big {
			width: 100%;
		}
	}

	&__text-overlay {
		@extend .middle;
		background: white;
		width: 32%;
		left: 25%;
		padding: rv( l, 40px );
	}

}

.mobile {
	display: none;
}

// Responsive universal styles

@media ( min-width: $lgdesktop-breakpoint ) {

}

@media ( max-width: $smdesktop-breakpoint ) {

	// Text

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		letter-spacing: rv( t, 0.5px );
	}

	h1 {
		font-size: rv( t, 60px );
	}

	h2 {
		font-size: rv( t, 28px );
		margin-bottom: rv( t, 18px );
	}

	h4 {
		font-size: rv( t, 14px );
		margin-bottom: rv( t, 8px );
	}

	h5 {
		font-size: rv( t, 16px );
	}

	p {
		font-size: rv( t, 14px );
		margin-bottom: rv( t, 32px );

		&.big {
			font-size: rv( t, 20px );
		}
	}


	// Single elements

	hr {
		border-top: rv( t, 2px ) solid $coral;
		width: rv( t, 60px );
		margin-bottom: rv( t, 18px );
	}

	.hr {

		&.inner {
			padding: 0 rv( s, 48px );
		}
	}

	.button {
		font-size: rv( t, 14px );
		padding: rv( t, 12px ) 24px;
		min-width: rv( t, 143px );
	}


	// Content blocks

	.block {
		border-bottom: rv( t, 20px ) solid white;
		margin-bottom: -0.96 * rv( t, 20px );

		// Block styles

		&.bordered {
			border: rv( t, 20px ) solid white;
		}


		// Block children

		&__text {
			width: 100%;
		}

		&__text-overlay {
			width: 38%;
			padding: rv( t, 16px ) rv( t, 20px );
		}
	}

}

@media ( max-width: $tablet-breakpoint ) {
	.hr {

		&.inner {
			padding: 0 rv( t, 28px );
		}
	}
}

@media ( max-width: $mobile-breakpoint ) {

	// Universal 

	.middle {
		position: relative;
		top: 0;
		left: 0;
		@include transform( none );
	}

	.mobile {
		display: block;
	}



	// Text

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		letter-spacing: rv( m, 1px );;
	}

	h1 {
		font-size: rv( m, 56px );
	}

	h2 {
		font-size: rv( m, 28px );
		margin-bottom: rv( m, 18px );
	}

	h4 {
		font-size: rv( m, 14px );
		margin-bottom: rv( m, 8px );
	}

	h5 {
		font-size: rv( m, 16px );
	}

	p {
		font-size: rv( m, 14px );
		margin-bottom: rv( m, 30px );

		&.big {
			font-size: rv( m, 20px );
		}
	}


	// Single elements

	hr {
		border-top: rv( m, 2px ) solid $coral;
		width: rv( m, 60px );
		margin-bottom: rv( m, 18px );
	}

	.hr {

		&.inner {
			padding: 0 rv( m, 20px );
		}
	}

	.button {
		font-size: rv( m, 14px );
		padding: rv( m, 12px ) 24px;
		min-width: rv( m, 143px );
				
		&:hover {
			@include transition( initial );
			
			&:before {
				display: none;
			}

			.button__text  {
				color: #fff;
			}
		}
	}

	.full {
		width: 100%;
	}


	// Content blocks

	.block {
		border-bottom: rv( m, 20px ) solid white;
		margin-bottom: -0.96 * rv( m, 20px );

		&.half-width,
		&.full-width {
			width: 100%;

			&:not('.image'):before,
			&:not('.image'):after {
				display: none;
			}

			&.big-hero {
				@include aspect-ratio( 0.7 );

				.big-hero__content {
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform( translate(-50%, -50%) );
				}

				.big-hero__title {
					padding-top: rv( m, 36px );
					padding-left: rv( m, 60px );
					padding-right: rv( m, 60px );
				}

				.homepage-hero__button {
					margin-top: rv( m, 46px );
				}
			}
		}

		&.full-width-fluid {
			padding: 0;
		}

		&.bordered {
			border: rv( m, 20px ) solid white;
		}

		&.image {

			&.with-overlay {
				padding-top: 100vw;
				background-size: auto 100vw;
				background-position: center top;
			}
		}

		&__text {
			padding: rv( m, 42px ) rv( m, 24px );
		}

		&__text-overlay {
			width: 100%;
			padding: rv( m, 42px ) rv( m, 24px );
		}
	}

}