
// Breakpoints

$lgdesktop-breakpoint: 1800px;
$smdesktop-breakpoint: 1200px;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 700px;


// Design widths

$lgdesktop-design: 1280px;
$smdesktop-design: 1024px;
$tablet-design: 768px;
$mobile-design: 320px;


// Colors

$navy: #130a46;
$skyblue: #89d0e9;
$coral: #fe5450;
$gray: #f0eff3;
$grayblue: #a19eb5;

$echoblue: #a8ddf0;
$ltechoblue: #dbf1fa;
$lavender: #b7b7c9;
$ltlavender: #dfdfe7;
$peach: #f47f7f;
$ltpeach: #fcd3d2;


// z-indexes

$z-index-base: 1;
$z-index-mid: 2;
$z-index-top: 3;
$z-index-cheating: 4;


// Fonts

@font-face {
	font-family: 'Flama Condensed';
	src: url(../fonts/FlamaCondensed-Medium.woff) format("woff"), 
		url(../fonts/FlamaCondensed-Medium.eot) format("eot");
}

@font-face {
	font-family: 'Miller Text';
	src: url(../fonts/Miller-Text-Regular.woff) format("woff"), 
		url(../fonts/Miller-Text-Regular.eot) format("eot");
}

$sans: 'Flama Condensed', sans-serif;
$serif: 'Miller Text', serif;


// Mixins

@mixin transition( $transition... ) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
}

@mixin transform( $transform... ) {
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}

@mixin keyframes( $animationName ) {
	@-webkit-keyframes #{ $animationName } {
        @content;
    }
    @-moz-keyframes #{ $animationName } {
        @content;
    }
    @-o-keyframes #{ $animationName } {
        @content;
    }
    @keyframes #{ $animationName } {
        @content;
    }
}

@mixin clearfix {
	*zoom: 1;
	&:before, &:after { display: table; content: ""; }
	&:after { clear: both; }
}

@mixin aspect-ratio($ratio-or-width, $height: null) {
    $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
    &:before { content:''; display: table-row; float: left; padding-bottom: $padding;  }
    &:after  { content:''; display: table; clear: both;  } 
}

@mixin placeholder($color, $fontsize, $lineheight){
	&::-webkit-input-placeholder { color: $color; font-size: $fontsize; line-height: $lineheight; text-transform: uppercase }
	&:-moz-placeholder { color: $color; font-size: $fontsize; line-height: $lineheight; text-transform: uppercase }
	&::-moz-placeholder { color: $color; font-size: $fontsize; line-height: $lineheight; text-transform: uppercase }
	&:-ms-input-placeholder { color: $color; font-size: $fontsize; line-height: $lineheight; text-transform: uppercase }
}

@mixin responsive-font( $window, $font, $min: false, $max: false ) {

	$responsive-unitless: $font / ( $window / 100 );
	$responsive: $responsive-unitless + vw;

	@if $min {
		$min-breakpoint: $min / $responsive-unitless * 100;

		@media (max-width: #{$min-breakpoint}) {
			font-size: $min;
		}
	}

	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 100;

		@media (min-width: #{$max-breakpoint}) {
			font-size: $max;
		}
	}

	font-size: $font;
	font-size: $responsive;
}

@mixin middle {
	width: 100%;
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	top: 50%;
	left: 50%;
	@include transform( translate(-50%, -50%) );
}


// Functions

@function rv( $window, $value  ) {

	$design-width: $window;

	@if $window == l {
		$design-width: $lgdesktop-design;
	} @else if $window == s {
		$design-width: $smdesktop-design;
	} @else if $window == t {
		$design-width: $tablet-design;
	} @else if $window == m {
		$design-width: $mobile-design;
	}

	$responsive-unitless: $value / ( $design-width / 100 );
	$responsive: $responsive-unitless + vw;
	@return $responsive;

}


// Utility classes

.middle {
	@include middle;
}

.clearfix {
	@include clearfix;
}

.centered {
	text-align: center;
}

.float-right {
	float: right;
}